<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width: 600px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 " src="/img/Daco_4636508.png" alt="logo" style="width: 150px; height: 120px; display:block;">
                <h3 class="text-uppercase text-center p-4"> CRUD CON NODE.JS PAPAPAPAPA </h3>
            </div> 
            <div class="card-body text-center">

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint delectus explicabo doloribus tenetur hic consequuntur nulla recusandae, rem praesentium odit accusantium laboriosam magnam iste dolor, temporibus mollitia dolores sequi! Amet?</p>

                <a href="/add" class="btn btn-primary" >registrar</a>

            </div>
        </div>
    </div>
</main>